<footer class="page-footer font-small p-3" style="background-color: #3f51b5">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="">Weather App</h5>
        <p>Main Motto Behind Weather App is a Learning API calling and Exploring new things in Angular 10 and Much
          More Stuff Will be Comming Soon.....!</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="">Documentation</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">What is Weather App</a>
          </li>
          <li>
            <a href="#!">How to Start</a>
          </li>
          <li>
            <a href="#!">Requirements</a>
          </li>
          <li>
            <a href="#!">Get Started</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="">Contact</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.linkedin.com/in/sagar-belote-160b4811b">Linkedin</a>
          </li>
          <li>
            <a href="https://www.facebook.com/sagar.belote">Facebook</a>
          </li>
          <li>
            <a href="mailto:sagarbelotes@gmail.com">Gmail</a>
          </li>
          <li>
            <a href="https://join.skype.com/invite/lAi8I7fHkRkH">Skype</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:Sagar B Belote
  </div>
</footer>
