<br>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 p-5">
      <div class="jumbotron mx-auto" style="background:#FCE4EC">
        <h1 class="display-6">Who I am and what I am doing..!</h1>
        <p class="lead">Hey,<br> My name is sagar.i am making a weather app where anyone can see latest weather
          information of any city and get information and compare weather of diffrent city's..</p>
        <hr class="my-4">
        <p>It uses OpenWeatherMap API to fetch data.so whatever data is comming from server is a live data.</p>
        <a mat-raised-button color="primary" routerLink="/home" role="button">Get Started</a>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid d-block" src="assets/Undraw/undraw_weather_notification_4sbo.png">
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid" style="background:#EEEEEE">
    <div class="container">
      <h1 class="display-6">How I got this idea..?</h1>
      <p class="lead">I am very enthusiastic for web developement,from some months i am plannig to make a self website
        using Angular but not getting any idea from where i have to start and I get an idea about weather app. <br>
        main idea behind this is learn and explore new things and components in web developement. </p>
    </div>
  </div>
</div>
