<br>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 p-5">
      <div class="jumbotron mx-auto" style="background:#FCE4EC">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">This is a simple Weather App,here you can able to see multiple city's
          temperature in single time and compare them as per your requirement.</p>
        <hr class="my-4">
        <p>It uses OpenWeatherMap API to fetch data.so whatever data is comming from server is a live data.</p>
        <a mat-raised-button color="primary" routerLink="/home" role="button">Get Started</a>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid d-block" src="../../assets/Undraw/undraw_weather_d9t2.png">
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid" style="background:#EEEEEE">
    <div class="container">
      <small class="display-6">Daily Weather Quotes</small>
      <p class="lead">Sunshine is delicious, rain is refreshing, wind braces us up, snow is exhilarating; there is
        really no such thing as bad weather, only different kinds of good weather.</p>
    </div>
  </div>
</div>
